<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/996e98cae5.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="icon" href="/images/logo/graduation-cap-solid.ico">
    <link href="//db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=BrandonGrotW01-Light" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/style/style.css">
    <title>catfoundation</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
            <a href="/" class="logo"><img src="/images/logo/logo.png" alt="" srcset="" id="hideNh"></a>
            <ul class="main-nav" id="js-menu">
                <!-- <li>
                    <a href="/" class="nav-links">
                        <img src="/images/logo/logo.png" alt="" srcset="">
                    </a>
                </li> -->
                <li>
                    <a href="/gioithieu" class="nav-links">giới thiệu</a>
                </li>
                <li>
                    <a href="/ungtuyen" class="nav-links">ứng tuyển</a>
                </li>
                <li>
                    <a href="/chuyencu" class="nav-links">chuyện cũ</a>
                </li>
                <li>
                    <a href="/gopsuc" class="nav-links">góp sức</a>
                </li>

            </ul>
        </nav>
    </header>