<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/996e98cae5.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="icon" href="/images/logo/graduation-cap-solid.ico">
    <link rel="stylesheet" href="/style/style.css">
    <title>CatFoundation</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu-toggle">
                    <i class="fas fa-bars fa-3x"></i>
                    <i class="fas fa-times fa-3x"></i>
                </div>
                <a href="/" class="logo"><img src="../images/logo/logo.png" alt="" srcset=""></a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">My Story</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Scholarship</a>
                    </li>
                    <li class="nav-item">
                        <a href="/uploadcv" class="nav-link">Upload Your CV</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end of header -->


    <script src="/script/main.js"></script>
