.container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    /* width: 800px; */
    height: 491px;
    background-image: url("/images/others/rsz_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* object-fit: scale-down; */
    margin: auto;
    margin-bottom: 50px;
    background-size: contain;
}

div p {
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
}

.padding {
    padding: 50px;
}

@media screen and (min-width: 768px) {
    .container {
        /* width: 800px; */
        width: 100%;
        height: 491px;
        background-size: contain;
    }
}