.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}

.style-one {
    border: 0;
    height: 1px;
    width: 10px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.line {
    width: 50%;
    height: 1px;
    border-top: 1px solid rgba(85, 85, 85, 0.4);
    margin-top: 50px;
}

.color {
    background-color: rgb(85, 85, 85);
    padding: 10px 10px;
    border-radius: 10px;
    color: seashell;
    margin: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

header nav img {
    display: none;
}

.removeStyleA {
    text-decoration: none;
    color: white;
}

section div h3 {
    margin-top: 50px;
}