@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Tajawal', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: black;
}

body {
    font-family: var(--body-font);
}

li a img {
    width: 60px;
    height: 50px;
}

body,
html {
    height: 100%;
}

header {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    font-size: 1.6rem;
    padding-bottom: 50px;
    margin: auto;
}

ul {
    width: 100%;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.main-nav li a {
    color: var(--body-font-color);
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

.active {
    display: block;
    margin-top: 0;
}

.hideImg {
    display: none;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        padding-bottom: 35px;
    }
    header {
        height: 20%;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: center;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(85, 85, 85);
    }
    header nav a img {
        width: 90px;
        height: 60px;
    }
    header,
    body,
    html {
        background-color: unset;
    }
}