.headerForParagraph {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: #C4C4C4;
    width: 75%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 0;
    transform: translateY(50%);
}

.border {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    height: 86%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 70px;
    width: 80%;
    margin: auto;
}

.paddingparagraph {
    padding: 7% 7%;
}

.box {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    .box {
        width: 40%;
    }
    p,
    h5 {
        font-size: 1.1rem;
    }
}

p,
h5 {
    font-size: 1.1rem;
}

h3 {
    font-size: unset;
}

.alignTextInBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}