form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* .contact-us {
    padding: 15px;
} */

label,
input,
textarea {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
}

input {
    margin-bottom: 0px;
}

h3 {
    margin: 0 0 0.5em 0;
    padding: 10px 10px;
    margin-block-end: 0;
}

span {
    font-size: 8pt;
}

em {
    color: #f45702;
    font-weight: bold;
}

input,
textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    /* padding-left: 5px; */
    outline: none;
}

input:focus,
textarea:focus {
    border: 1px solid #6bd4b1;
}

textarea {
    resize: none;
}

button {
    display: block;
    float: right;
    line-height: 24pt;
    padding: 0 20px;
    border: none;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
}

button:hover {
    cursor: pointer;
}


/* ::selection {
    background: #ffc7b8;
}

.file-upload-wrapper {
    position: relative;
    width: 70%;
    height: 34px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
    display: none;
}

.file-upload-wrapper:before {
    content: "upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 34px;
    background: rgb(85, 85, 85);
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 10%;
}
 */

.alignAgain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 10px;
}

.alignAgain input {
    width: min-content;
    margin-right: 10px;
}

.alignAgain label {
    /* margin-left: 10px; */
    text-align: center;
}