form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label,
input,
textarea {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
}

input {
    margin-bottom: 0px;
}

h3 {
    margin: 0 0 0.5em 0;
    padding: 10px 10px;
    margin-block-end: 0;
}

span {
    font-size: 8pt;
}

em {
    color: #f45702;
    font-weight: bold;
}

input,
textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    outline: none;
}

input:focus,
textarea:focus {
    border: 1px solid #6bd4b1;
}

textarea {
    resize: none;
}

button {
    display: block;
    float: right;
    line-height: 24pt;
    padding: 0 20px;
    border: none;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
}

button:hover {
    cursor: pointer;
}

.alignAgain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 10px;
}

.alignAgain input {
    width: min-content;
    margin-right: 10px;
}

.alignAgain label {
    text-align: center;
}

.alignCenter {
    text-align: center;
}