<%- include('includes/skeletonHead.ejs') %>
    <link rel="stylesheet" href="style/thankyou.css">

    <p>
        không tìm thấy trang bạn yêu cầu
    </p>
    <p>
        <a href="/" style="text-decoration: none;">
            trang chủ
        </a>
    </p>
    <link rel="stylesheet" href="style/error.css">
    <%- include('includes/skeletonFoot.ejs') %>