<%- include('includes/skeletonHead.ejs') %>
    <link rel="stylesheet" href="/style/gioithieu.css">
    <div class="container">
        <img src="/images/others/gioithieu.jpg" alt="">
    </div>

    <%- include('includes/skeletonFoot.ejs') %>