<%- include('includes/skeletonHead.ejs') %>
    <link rel="stylesheet" href="/style/gioithieu.css">
    <div class="container">
        <!-- <div class="pContainer"> -->
        <div class="padding">
            <p>
                tiếp sức ước mơ
            </p>
            <p>
                to be useful, to make difference
            </p>
        </div>
        <div>
            <p><a href="mailto:tuananhfd@gmail.com" style="text-decoration: none; color: black;">tuananhfd@gmail.com</a></p>

            <p>Osaka, Japan</p>
            <!-- </div> -->
        </div>
    </div>

    <%- include('includes/skeletonFoot.ejs') %>