<%- include('includes/skeletonHead.ejs') %>
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="headline">the catfoundation</h1>
                <div class="headline-description">
                    <div class="separator">
                        <div class="line line-left"></div>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                        <div class="line line-right"></div>
                    </div>
                    <div class="single-animation">
                        <h5><a href="/story">read my story</a></h5>
                        <h5><a href="/uploadcv" class="btn-grad">Apply Now</a></h5>
                        <h5>or contact me at <a href="mailto:tuananhfd@gmail.com">tuananhfd@gmail.com</a> </h5>
                    </div>
                </div>
        </div>
    </section>
    <%- include('includes/skeletonFoot.ejs') %>