<%- include('includes/skeletonHead.ejs') %>
    <link rel="stylesheet" href="/style/home.css">
    <section>
        <div class="container">
            <img src="/images/others/xxxx.png" alt="" srcset="" onContextMenu="return false;" id="onlyHome">
            <h3>cát foundation</h3>
            <div class="line"></div>
            <p class="color">
                <a href="/ungtuyen" class="removeStyleA">về học bổng năm học 2021-2022</a> </p>
        </div>
    </section>
    <%- include('includes/skeletonFoot.ejs') %>