<%- include('includes/skeletonHead.ejs') %>
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="headline">The CatFoundation</h1>
                <div class="headline-description">
                    <div class="separator">
                        <div class="line line-left"></div>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                        <div class="line line-right"></div>
                    </div>
                    <div class="single-animation">
                        <h5>We alway here with your dream</h5>
                        <h5><a href="#" class="btn-grad">Apply Now</a></h5>
                        <h5>Or contact me at tuananhfd@gmail.com</h5>
                    </div>
                </div>
        </div>
    </section>
    <%- include('includes/skeletonFoot.ejs') %>