<%- include('includes/skeletonHead.ejs') %>
    <link rel="stylesheet" href="/style/home.css">
    <section>
        <div class="container">
            <img src="/images/others/xxxx.png" alt="" srcset="" onContextMenu="return false;">
            <p>cát foundation</p>
            <div class="line"></div>
            <p class="color">về học bổng năm học 2021-2022</p>
        </div>
    </section>
    <%- include('includes/skeletonFoot.ejs') %>