<%- include('includes/skeletonHead.ejs') %>
    <link rel="stylesheet" href="/style/support.css">
    <div id="container">
        <div class="chart1" id="1">
            <div id="no1" class="firstBlock">
                <h4><a href="#">góp công</a></h4>
            </div>
            <div id="line1"></div>
            <div id="no1"><img src="images/others/NamPhan.jpg" alt="" srcset="" class="imgSize"><a href="#">PSG.TS Phan Thanh Sơn Nam <br> Trưởng Khoa KTHH, ĐH Bách Khoa</a></div>
            <div id="line1"></div>
            <div id="no1"><img src="images/others/VuNguyen.jpg" alt="" srcset="" class="imgSize"><a href="#">TS Nguyễn Trần Vũ<br>GV Khoa KTHH, ĐH Bách Khoa</a></div>
            <div id="line1"></div>
            <div id="no1"><img src="images/others/TA.jpg" alt="" srcset="" class="imgSize"><a href="#">CSV: tuấn anh<br>K08, Khoa KTHH, ĐH Bách Khoa</a></div>
        </div>

        <div class="chart1" id="2">
            <div id="no1" class="firstBlock">
                <h4><a href="#">góp gạo</a></h4>
            </div>
            <div id="line1"></div>
            <div id="no1">
                <a href="#"><b>Việt Nam</b><br> <p class="alignLineHeight">Võ Xuân Tuấn Anh <br>Ngân hàng: Vietcombank <br>Chi nhánh Q10, Tp.HCM <br>Số tk: 123456789</p> </a>
            </div>
            <div id="line1"></div>
            <div id="no1">
                <a href="#"><b>Japan or International </b> <br> <p class="alignLineHeight">Vo Xuan Tuan Anh <br>Bank: Mitsubishi UFJ, Kyoto Branch <br>Account No: 123456789 <br>Swift Code: abcxzy</p> </a>
            </div>
        </div>

        <div class="chart1" id="3">
            <div id="no1" class="firstBlock">
                <h4><a href="#">tri ân</a></h4>
            </div>
            <div id="line1"></div>
            <div id="no1"><a href="#">gửi lời cảm ơn chân thành đến các <br> anh chị em, bạn hữu đã góp gạo cùng cát</a></div>
            <div id="line1"></div>
            <div id="no1" style="color: black; background-color: #858585;"><a href="https://docs.google.com/spreadsheets/d/12EXHof4vOcWN3iiSJZEQPcotW4Yr5vRveIUDEmI7tgo/edit#gid=0" target="blank" style="color: white;">danh sách đóng góp</a></div>
        </div>
    </div>

    <%- include('includes/skeletonFoot.ejs') %>