<%- include('includes/skeletonHead.ejs') %>
    <link rel="stylesheet" href="style/mystory.css">
    <div class="bigboi">
        <div class="support">
            <h1>so tai khoan ngan hang</h1>
            <p>vietcombank xxxxxx</p>
            <p>ten</p>
            <p>chi nhanh</p>
        </div>


    </div>
    <%- include('includes/skeletonFoot.ejs') %>