<%- include('includes/skeletonHead.ejs') %>
    <link rel="stylesheet" href="style/thankyou.css">
    <p>
        cảm ơn bạn! chúng tôi sẽ phàn hồi kết quả cho bạn sớm!
    </p>
    <%- include('includes/skeletonFoot.ejs') %>